*
{
    padding: 0;
    margin: 0;
}

#imgcontainer {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: block;
    position: relative;
}

#instructions {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

#form-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 15px;
}



@media screen and (min-width:800px) {
    #col_1 {
        width: 70%;
        height: 100%;
        position: absolute;
        right: 0;
    }

    .form-check-label {
        color: #000000;
    }

    #col_2 {
        width: 30%;
        height: 40vh;
        position: absolute;
        left: 0;
        padding-top: 20px;
    }

    #form-container {
        position: relative;
        color: #000000;
        text-align: left;
        padding: 24px 48px;
    }

    #check-container {
        padding: 12px 48px;
    }

    #instructions {
        position: relative;
        color: #000000;
        text-align: left;
        padding: 24px 48px;
    }
}