#can{
    background-color: rgb(241, 184, 145);
    position: absolute;
}
.but{
        border: 2ex;
        color: aliceblue;
        /* background-color: rgb(155, 150, 150); */
        margin-left: 8%;
        margin-top: 28em;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
}

#clear {
    background-color: crimson;
}
#lines {
    background-color: rgb(20, 220, 47);
}
#edges {
    background-color: rgb(99, 142, 235);
}