#controlElements{
    position: absolute;

    top: 350px;
}

.label{
    padding-right: 20px;
}

.paragraph{
    display: inline-block;
    padding-right:20px;
}

#p_height, #resolution_in_value{
    text-align: right;
}



#width{
    display: inline-block;
    text-align: left;
    margin-right: 20px;
}

.button{
    display:block;
}