* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
                               
}

#container {
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

canvas {
    border: 3px solid black;
    border-radius: 20px;
}

.points {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: deepskyblue;
    position: absolute;
    transform: translate(-50%, -50%);
}

#pointOne {
    top: 100px;
    left: 100px;
}

#pointTwo {
    top: 300px;
    left: 400px;
}

#pointThree {
    top: 300px;
    left: 100px;
}

#options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


button {
    width: 60px;
    height: 40px;
    margin: 10px 0 0;
	background-color:#00A8FF;
	border-radius:28px;
	border:1px solid #00A8FF;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px;
	text-decoration:none;
}

button:hover {
	background-color:rgb(28, 132, 184);
	border-color:rgb(28, 132, 184);
}

button:focus {outline:0;}

.active {
    background-color: rgb(28, 132, 184);
    border-color:rgb(28, 132, 184);
}

@media screen and (max-width: 600px) {
    #container {
        width: 250px;
        height: 200px;
    }

    #pointOne {
        top: 50px;
        left: 50px;
    }
    
    #pointTwo {
        top: 150px;
        left: 200px;
    }
    
    #pointThree {
        top: 150px;
        left: 50px;
    }
  }
