body{
	overscroll-behavior-y: contain;
	overscroll-behavior-x: contain; 
}

#imageContainer{
	position: relative;
	top: 0px;
	width: 472px;
	height: 354px;
	overflow: hidden;
}

#img{
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	position: absolute;
	top: 0px;
	width: 472px;
    height: 354px;
    
}

.radioContainer{
    position: relative;
    margin-top: 30px;

}
.radioCheckmark{
    top: 5px;
}


.sliderContainer2, .sliderContainer1{
    position: relative;
    margin-bottom: 30px;
}

/*$('.body').css({
	'overscroll-behavior-y': 'contain',
	'overscroll-behavior-x': 'contain'
});

$('#imageContainer').css({
	'position': 'relative',
	'top': '0px',
	'left': '250px',
	'width': '472px',
	'height': '354px',
	'overflow': 'hidden'
});

$('#img').css({
	'-webkit-transform': 'scale(1.0)',
	'-moz-transform': 'scale(1.0)',
	'-o-transform': 'scale(1.0)',
	'transform': 'scale(1.0)',
	'position': 'absolute',
	'top': '0px',
	//'left': '250px',
	'width': '472px',
	'height': '354px'
})

$('.radioContainer').css({
	'position': 'absolute',
	'margin-top': '-285px',
	'margin-left': '300px'
});
$('.sliderContainer1').css({
	'position': 'relative',
	'margin-top': '-150px',
	'margin-left': '300px'
});
$('.sliderContainer2').css({
	'position': 'relative',
	'margin-top': '30px',
	'margin-left': '300px'
});
*/