body{
  font-family: Arial, Helvetica, sans-serif;
}

figure{
margin: 0;
}

 #container {
  max-width: 1200px;
  position: absolute;
  left: 35%;
  display: flex;
  flex-direction: column;
 }
 
#options{
  display: flex;
  flex-wrap: wrap;
}

label{
  padding: 10px;
}

.controls {
  border-bottom: 1px solid #fff;
}
 
.graph {
  font-size: 13px;
  margin-left: -20px;
  align-self: center;
}
 
canvas {
  display: block;
  cursor: pointer;
}
 
figure {
  display: block;
  position: relative;
  padding-left: 20px;
  width: 200px;
 }

figcaption {
  display: block;
  position: absolute;
}


#tween {
	background-color:#00A8FF;
	border-radius:28px;
	border:1px solid #00A8FF;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}
#tween:hover {
	background-color:rgb(20, 163, 235);
}
#tween:active {
	position:relative;
  top:1px;
}

#tween:focus {outline:0;}
 
#axisAnimation {
  left: -33px;
  top: 210px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#axisTime {
  left: 100px;
  top: 335px;
}
 
.options {
   max-width: 560px;
   align-self: center;
}

.tween-container{
  margin-bottom: 30px;
}
 
 label {
   display: block;
   margin-bottom: 10px;
 }
 label .text {
   display: inline-block;
   width: 60px;
 }
 
 #box {
  width: 100px;
  height: 100px;
  background: url('assets/square.jpg') no-repeat ;/*center center*/
  position: relative;
  left: 0px;
  opacity: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
 }

 #box.tween {
   left: calc(100% - 100px);
 }

 @media screen and (max-device-width: 480px) {
   /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
   /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
 }
 
 