main
    padding-top: 50px

    +break($break-m)
        position: fixed
        top: 80px
        bottom: 0px
        left: 280px
        width: calc(100% - 380px)
        overflow: scroll
        margin-left: 100px
        z-index: -1

.headline-container
    text-align: center
    margin-top: 20px
    margin-bottom: 10px
    height: 55px
    

    +break($break-m)
        display: none
        // width: calc(100% - 380px)
    
.headline
    font-size: 20px

.subheadline
    font-size: 16px

.projekt-text
    //width: 350px
    margin-left: 20px
    margin-right: 20px

.construction-text
    display: none;
    margin-left: 20px
    margin-right: 20px

.btn-interaktion
    padding: 15px 
    border-radius: 10px
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35)
    transition: 0.5s ease

    text-decoration: none
    color: $blue

    &:hover
        color: darken($blue, 20)
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.55)

.btn-container
    display: flex
    justify-content: center
    margin-top: 30px