body{
	overscroll-behavior-y: contain;
}

.buttonContainer_left{
	position: absolute;
	margin-top: -650px;
        margin-left: 100px;
}

.buttonContainer_right{
	position: absolute;
	margin-top: -650px;
        margin-left: 300px;
}

.container{
	margin-bottom: 82px;
}
