
  .sliderContainer
  {
    position: relative;
    top: 470px;
  }
    
  .imageContainer{
      position: relative;
  
  }
  
  .img{
      position: absolute;
      top:0;
      left:0;
  }

  /*.rotated { */
   /* transform: rotate(90deg);*/
   /* -ms-transform: rotate(90deg);*/ /* IE 9 */
   /* -moz-transform: rotate(90deg);*/ /* Firefox */
   /* -webkit-transform: rotate(90deg);*/ /* Safari and Chrome */
   /* -o-transform: rotate(90deg);*/ /* Opera */
 /* }*/