body{
    display: flex;
    flex-direction: column;
}
#container{
    align-self: center;
 }

#controls{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-self: center;
   width: 650px;
}
span{
    margin-right: 10px;
    margin-left: 25px;
    display: inline-block;
}

label{
    margin-bottom: 15px;
}

@media screen and (max-width: 700px) {

    #controls{
        width: 350px;
     }

     span{
        min-width: 40px;
    }
}